# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
package-lock.json
yarn.lock
packages/submodule/syslab_online_plot/
packages/syslab/extension-build.json
packages/syslab/extensionDist/extension.js
*.vsix
packages/syslab/extension-build.json
packages/syslab/extensionDist/extension.js
packages/syslab/extensionDist/extension.js.map
packages/syslab/syslabApp.json

packages/desktop/dist
packages/desktop/node_modules
packages/desktop/out
packages/desktop
out